* {
    box-sizing: border-box;
  }
  
  input[type=text] {
    width: 100%;
    padding: 6px 10px;
    border-radius: 4px;
    margin: 4px 5px;
    box-sizing: border-box;
    border: 1px solid rgb(214, 214, 214);
  }
  
  input[type=date] {
    width: 100%;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 4px 5px;
    resize: vertical;
    border: 1px solid rgb(214, 214, 214);
  }

  label {
    padding: 5px 0px 4px 0;
    
    display: inline;
  }
  
  input#btnSubmit {
    background-color: #263843;
    padding: 8px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    float: right;
    color: white;
    font-size: 13px;
  }
  input#btnDelete {
    background-color: #EF9343;
    padding: 5px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    float: left;
    color: white;
    font-size: 11px;
  }
  
  input[type=submit]:hover {
    background-color: #1c2c36;
  }
  
  .container {
    border-radius: 5px;
    padding: 15px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
  }
  
  .col-75 {
    float: left;
    width: 75%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }